
<h2>Thank you very much <b>{{name}}</b> for signing!</h2>


<img src={{"url"}} alt="">

<form class="regform" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Change Signature</button>
</form>


<div class="signerslink" >
    <a href="/petition/signers">See all {{num}} Signers</a>
</div>
