<div class="nav">
    <div class="navs">
        <a href="/petition">Petition Form</a>
    </div>
    <div class="navs">
        <a href="/edit">Profile</a>
    </div>
    <div class="navs">
        <a href="/petition/signers">Signers</a>
    </div>
    <div class="navs">
        <a href="/logout">Logout</a>
    </div>
</div>
